p{
    width: 160px;
    height: 160px;
    border: 1px solid rgb(179, 255, 0);
}
b {
    width: 160px;
    height: 160px;
    border: 1px solid rgb(136, 255, 0)55, 0);
}
h2 {
    width: 160px;
    height: 160px;
    border: 1px solid rgb(255, 0, 98);
}
i {
    width: 160px;
    height: 160px;
    border: 1px solid rgb(241, 113, 152);
}
a {
    width: 160px;
    height: 160px;
    border: 1px solid rgb(40, 6, 71);
}
